In [ ]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
mydataset = {
  'name': ["rakesh", "mani", "vinay", "manohar", "shruthihussan", "kajal", "thammanna", "samatha"],
  'gender': ["male", "male", "male", "male","female" , "female" , "female" , "female" ],
    'class':["c2","c2","c1","c1","c3","c4","c3","c4"],'amount':[10000,20000,35000,50000,15000,23000,40000,50000]
    
}

grouped = mydataset.groupby('class')